{% extends "base.html" %}

{% block title %}
  <title>Nueva entrada</title>
{% endblock %}

{% block precontent %}{% endblock %}

{% block content %}

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="jumbotron">
        <h1 class="display-4">Nueva Entrada</h1>
        <hr class="my-4">
        <form method="POST" action="{% url 'inventory:create' %}">
          {% csrf_token %}
          <div class="form-group row">
            <label for="id_producto" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" required name="producto" id="id_producto" placeholder="Producto">
            </div>
          </div>
          <div class="form-group row">
            <label for="id_codigo" class="col-sm-2 col-form-label">Codigo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" required name="codigo" id="id_codigo" placeholder="Codigo">
            </div>
          </div>
          <div class="form-group row">
            <label for="id_cantidad" class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" required name="cantidad" id="id_cantidad" placeholder="Cantidad">
            </div>
          </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Closed</button>
      <input type="submit" value="Crear" class="btn btn-primary">
    </div>

    </form>
  </div>
</div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
