{% extends "base.html" %}

{% block title %}
  <title>Listado Productos</title>
{% endblock %}

{% block breadcrumb %}Productos{% endblock %}

{% block content %}
<button type="button" class="create-product btn btn-primary" name="button" >
  Agregar
</button>
<p></p>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Codigo</th>
      <th scope="col">Codigo Interno</th>
      <th scope="col">Presentación</th>
      <th scope="col">Precio entrada</th>
      <th scope="col">Precio venta</th>
      <th scope="col">Fecha de Ingreso</th>
      <th scope="col">Usuario</th>
      <th colspan="2" scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.nombre }}</td>
      <td>{{ product.codigo }}</td>
      <td>{{ product.codigo_Interno }}</td>
      <td>{{ product.presentacion }}</td>
      <td>{{ product.precio_Ingreso }}</td>
      <td>{{ product.precio_Venta }}</td>
      <td>{{ product.fecha|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ product.user }}</td>
      <td>
        <button type="button" class="update-product btn btn-sm btn-outline-info" data-id="{% url 'products:edit' product.pk %}">Editar</button>
        <button type="button" class="delete-product btn btn-sm btn-outline-danger" data-id="{% url 'products:delete' product.pk %}">Borrar</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

  $(function() {
       // Create product button
    $(".create-product").modalForm({formURL: "{% url 'products:create_product' %}"});

     // Update product buttons
    $(".update-product").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    // Delete product buttons
    $(".delete-product").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });

</script>
{% endblock extrajs %}

{% block footer %}{% endblock %}
