{% extends "base.html" %}

{% block title %}
  <title>Nueva entrada</title>
{% endblock %}

{% block precontent %}{% endblock %}

{% block content %}

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Nuevo Ingreso</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="jumbotron">
        <h1 class="display-6">Nueva Entrada</h1>
        <hr class="my-4">
        <form method="POST" action="{% url 'products:create' %}">
          {% csrf_token %}
          <div class="form-group row">
            <!-- <label for="id_nombre" class="col-sm-2 col-form-label">Nombre</label> -->
            <div class="col-sm-12">
              <input type="text" class="form-control" required name="nombre" id="id_nombre" placeholder="Producto">
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col-sm-4">
              <input type="text" class="form-control" required name="codigo" id="id_codigo" placeholder="Codigo">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" required name="codigo_Interno" id="id_codigo_Interno" placeholder="Cod. Interno">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" required name="presentacion" id="id_presentacion" placeholder="Presentación">
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col-sm-6">
              <input type="text" class="form-control" required name="precio_Ingreso" id="id_precio_Ingreso" placeholder="Precio Ingreso">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" required name="precio_Venta" id="id_precio_Venta" placeholder="Precio Venta">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Crear" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
